---
Language: C
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
ColumnLimit: 120
ContinuationIndentWidth: 8
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
  - Regex: '<.*readline.*'
    Priority: 1
    SortPriority: 1
  - Regex: '^<.*'
    Priority: 0
    SortPriority: 0
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 4
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SortIncludes:
  Enabled: true
  IgnoreCase: true

TabWidth: 4
UseTab: Never
...
