# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Local lint
build
vcpkg_installed
/bin/build
/Testing/
/Makefile
/shell

# Compiler lint
/CTestTestfile.cmake
/cmake_install.cmake
/CMakeCache.txt
/compile_commands.json
/cmake-build-debug-gnu/cmake_install.cmake
/cmake-build-debug-gnu/CMakeCache.txt
/cmake-build-debug-gnu/compile_commands.json
/cmake-build-debug-gnu/CTestTestfile.cmake
/cmake-build-debug-gnu/libshell.a
/cmake-build-debug-gnu/Makefile
/cmake-build-debug-gnu/shell
/cmake-build-debug-gnu/shell_test
/build-sanitized/cmake_install.cmake
/build-sanitized/CMakeCache.txt
/build-sanitized/compile_commands.json
/build-sanitized/CTestTestfile.cmake
/build-sanitized/libshell.a
/build-sanitized/Makefile
/build-sanitized/shell
/cmake-build-debug/
/cmake-build-debug-gnu/
/bin/
/.todo/
/.codecrafters/
/.cmake/
/.ccls-cache/
/.cache/
